<h1 class="mt-4">Servi</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente</label>
                    <select class="form-control" [(ngModel)]="servico.idCliente" [ngModelOptions]="{standalone: true}" >
                        <option value="">Selecione</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{cliente.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" [(ngModel)]="servico.descricao" name="descricao" class="form-control" id="descricao">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputdata">Data</label>
                    <input type="text" [(ngModel)]="servico.data" name="data" class="form-control" id="inputdata">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="text" [(ngModel)]="servico.preco" name="preco" class="form-control" id="preco">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Salvar
                </button>
                <a [routerLink]="['/clientes-lista']" class="btn ml-4 btn-danger">
                    <i class="fas fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    </form>
</div>