<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Listagem</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensageSuccess">
                {{mensageSuccess}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{mensagemErro}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            Clientes
                        </div>
                        <div class="col-md-6 text-right">
                            <a [routerLink]="['/clientes/form']" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Novo Cliente
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Cpf</th>
                                <th>Data Cadastro</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>{{ cliente.id }}</td>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.cpf }}</td>
                                <td>{{ cliente.dataCadastro }}</td>
                                <td class="text-center">
                                    <a [routerLink]="['/clientes-form', cliente.id]" class="btn btn-primary btn-sm">
                                        <i class="fa fa-edit"></i>
                                        Editar
                                    </a>
                                    <button class="btn btn-danger btn-sm ml-1" data-toggle="modal"
                                        data-target="#modalDelecao" (click)="preparaDelecao(cliente)">
                                        <i class="fa fa-trash"></i>
                                        Remover
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação de Exclusão</h4>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado">
                    <p>Tem certeza que deseja excluir o(a) cliente <b>{{ clienteSelecionado.nome }}</b>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="deletarCliente()">Sim</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>